
HELP.md
artificialsw-backend/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# VS Code
.vscode/

# OS별 임시 파일 (추가 권장)
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 환경 변수 파일
.env

# 기타 빌드/캐시/임시 파일
*.tmp
*.swp
*.swo