USE asw; SHOW TABLES LIKE '%question%'; SHOW TABLES LIKE '%flower%'; SELECT COUNT(*) AS question_count FROM personal_questions; SELECT COUNT(*) AS public_question_count FROM public_questions; SELECT COUNT(*) AS flower_count FROM flowers;
